body {
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* different headers will be different resource types/layers */
h1 {
  color: white;
  text-align: center;
}
h1.title {
  font-size: xx-large;
  text-align: center;
  visibility: hidden;
}

h2 {
  color: red;
  text-align: center;
}

h3 {
  color: yellow;
  text-align: left;
  visibility: hidden;
}
/*
h3.gen1 {
  visibility: visible;
}
*/
h4 {
  font-size: x-large;
  color: silver;
  text-align: left;
}

/*h5 is prestige layer TWO*/
h5 {
  font-size: x-large;
  color: purple;
  text-align: left;
  visibility: hidden;
}

/*h6 is prestige layer THREE*/
h6 {
  font-size: x-large;
  color: blue;
  text-align: left;
  display: none;
}

div.generators {
  color: purple;
}

button {
  background-color: blue;
  color: white;
  border-color: yellow;
  visibility: hidden;
}

button.tabs {
  background-color: purple;
  color: white;
  border-color: yellow;
  visibility: visible;
}

button.superTabs {
  background-color: seagreen;
  color: white;
  border-color: yellow;
  visibility: visible;
}

button.upgradeButton {
  background-color: #111;
  color: white;
  border-color: yellow;
  visibility: hidden;
}

