body {
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
}
/* different headers will be different resource types/layers */
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}

h3 {
  color: springgreen;
  text-align: left;
}

h4 {
  color: silver;
  text-align: left;
}

h5 {
  color: purple;
  text-align: left;
  display: none;
}

h6 {
  color: blue;
  text-align: left;
  display: none;
}

div.generators {
  color: purple;
}
button {
  background-color: blue;
  color: white;
  border-color: yellow;
}
button.tabs {
  background-color: purple;
  color: white;
  border-color: yellow;
}
button.superTabs {
  background-color: seagreen;
  color: white;
  border-color: yellow;
}

